= render 'joint/header'
= render 'users/user-breadcrumb', {symbol: :mypage_sale_selling_index}
.user-wrapper
  %main.user-main
    .user-container
      .h2.user-tab-headline
        出品した商品
      .user-tabcontent__tabbar
        = link_to mypage_sale_selling_index_path, class:"user-tabcontent__tabbar--link" do
          .user-tabcontent__tabbar__tab3.user-tabcontent__tabbar__tab3--active
            出品中
        = link_to mypage_sale_dealing_index_path, class:"user-tabcontent__tabbar--link" do
          .user-tabcontent__tabbar__tab3
            取引中
        = link_to mypage_sale_closed_index_path, class:"user-tabcontent__tabbar--link" do
          .user-tabcontent__tabbar__tab3
            売却済み
      .user-tabcontent__page
        - if @items.count > 0
          %ul.user-notification
            -# 直近の販売中商品を表示
            = render partial: "users/selling-list-item", collection: @items, as: "item"
          -# Todo: 販売中商品が一定数以上の時にページネーションが必要になるが現時点では非対応とした
        - else
          = render "users/nolist-item", { text: '出品中の商品がありません' }
    -# ナビゲーションバー
    = render 'users/user-navigation'
= render 'joint/app__dl'
= render 'joint/footer'
= render 'joint/exhibit__button'