.registration-top-wrapper
  %header.registaration-top-header
    =link_to image_tag("logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",class:"registaration-header__image")
  .registration-top-contents
    %h2.registration_title 新規会員登録
    .registration-top-btn
      .registration-top-section--mail
        = link_to step1_path, class:"registration-top-section__item" do
          = fa_icon "envelope-o", class: "registration-top-section__icon--mail"
          メールアドレスで登録する
      .registration-top-section--facebook
        = link_to user_facebook_omniauth_authorize_path, class:"registration-top-section__item" do
          = fa_icon "facebook-official", class: "registration-top-section__icon--facebook"
          Facebookで登録する
      .registration-top-section--google   
        = link_to user_google_oauth2_omniauth_authorize_path, class:"registration-top-section__item--google" do
          =embedded_svg("google.svg",class:"registration-top-section__icon--google")
          Googleで登録する
  = render 'deals/footer' 

