= render partial: 'devise/registrations/registrations-header'
.zip-code-wrapper
  .zip-code-contents
    %h2.registration_title お届け先住所入力
    = form_with model: resource,as: resource_name,local: true, url: step4_path(resource_name), method: :get, id: "zip-code-form", class: "zip-code-form" do |f|
      .zip-code-section
        =f.label "郵便番号"
        %span.form--required
          必須
        %br
        = f.text_field :zip_code, placeholder: "例)123-456", maxlength:16, class: "zip-code-form__input"
      .zip-code-section
        =f.label "都道府県"
        %span.form--required
          必須
        %br
        = f.text_field :prefecture_id, placeholder: "北海道", maxlength:16, class: "zip-code-form__input"
      .zip-code-section
        =f.label "市区町村"
        %span.form--required
        必須
        %br
        = f.text_field :city, placeholder: "北海道", maxlength:16, class: "zip-code-form__input"
      .zip-code-section
        =f.label "番地"
        %span.form--required
          必須
        %br
        = f.text_field :adress, placeholder: "北海道", maxlength:16, class: "zip-code-form__input"
      .zip-code-section
        =f.label "建物名"
        %span.form--required
          必須
        %br
        = f.text_field :building, placeholder: "北海道", maxlength:16, class: "zip-code-form__input"
      = f.submit "次へ進む",class:"registration-btn"
  = render 'deals/footer'  