-# ヘッダ
.header
  ヘッダー

%main#user-main
  .card-container
    .card-container__header
      %h2.card-container__header__headline
        クレジットカード情報入力
    = form_with model: @payjp_card, url: mypage_cards_create_path, method: :post, local: true, id: "card_form", class: "card-container__form" do |f|
      .card-container__form__field
        .card-container__form__field__label
          = f.label :number
          %span.form--required
            必須
        = f.text_field :number, placeholder: "半角数字のみ", class: "card-container__form__field__text_field"
        %ul.card-container__form__field__cardlist
          %li.card-container__form__field__cardlist__carditem
            = image_tag "cards/visa.svg", class: "card-container__form__field__cardlist__carditem__image"
          %li.card-container__form__field__cardlist__carditem
            = image_tag "cards/master-card.svg", class: "card-container__form__field__cardlist__carditem__image"
          %li.card-container__form__field__cardlist__carditem
            = image_tag "cards/saison-card.svg", class: "card-container__form__field__cardlist__carditem__image"
          %li.card-container__form__field__cardlist__carditem
            = image_tag "cards/jcb.svg", class: "card-container__form__field__cardlist__carditem__image"
          %li.card-container__form__field__cardlist__carditem
            = image_tag "cards/dinersclub.svg", class: "card-container__form__field__cardlist__carditem__image"
          %li.card-container__form__field__cardlist__carditem
            = image_tag "cards/discover.svg", class: "card-container__form__field__cardlist__carditem__image"
      .card-container__form__field
        .card-container__form__field_label
          = f.label  "有効期限"
          %span.form--required
            必須
        .card-container__form__field__date
          = f.select :month, @payjp_card.month_select, {}, {class: "card-container__form__field__date__select"}
          = fa_icon 'angle-down', class: "card-container__form__field__date__icon"
          = f.label :month
          = f.select :year, @payjp_card.year_select, {}, {class: "card-container__form__field__date__select"}
          = fa_icon 'angle-down', class: "card-container__form__field__date__icon"
          = f.label :year
      .card-container__form__field
        .card-container__form__field_label
          = f.label :cvc
          %span.form--required
            必須
        = f.text_field :cvc, placeholder: "カード背面4桁もしくは3桁の番号", maxlength:4, class: "card-container__form__field__text_field"
        %p.card-container__form__field__help
          = link_to "#", class: "card-container__form__field__help--link" do
            = fa_icon 'question-circle'
            カード裏面の番号とは？
      .card-container__form__field

      .card-container__form__field
        = f.submit "追加する", class: "card-container__form__field__button"

  -# ナビゲーションバー
  = render 'users/user-navigation'

-# フッタ
.footer
  フッター