= render 'joint/header'
= render 'users/user-breadcrumb', {symbol: :new_mypage_profiles}
.user-wrapper
  %main.user-main
    .user-container
      .user-container__header
        %h2.user-container__header__headline
          プロフィール
      .profile-edit-container__form
        = form_with model: @profile, local: true, url: mypage_profiles_path, method: :post do |f|
          = render "mypage/profiles/form", {f: f}
    -# ナビゲーションバー
    = render 'users/user-navigation'
= render 'joint/app__dl'
= render 'joint/footer'
= render 'joint/exhibit__button'