= render 'joint/header'
= render 'users/user-breadcrumb'
.user-wrapper
  %main.user-main
    .profile-edit-container
      .profile-edit-container__header
        %h2.profile-edit-container__header__headline
          プロフィール
      .profile-edit-container__form
        = form_with model: @profile, local: true, url: mypage_profiles_path, method: :post do |f|
          = render "mypage/profiles/form", {f: f}
    -# ナビゲーションバー
    = render 'users/user-navigation'
= render 'joint/app__dl'
= render 'joint/footer'
= render 'joint/exhibit__button'