%header.root-menu
  .root-menu__box
    .root-menu__box__upper
      .root-menu__box__upper__icon 
        = image_tag "logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", size: "134x36"
      .root-menu__box__upper__form
        %input.root-menu__box__upper--text
        %button.root-menu__box__upper--button
          = fa_icon "search", class: "root-menu__box__upper__button"
    .root-menu__box__lower
      .root-menu__box__lower__left
        .root-menu__box__lower__left--category
          =link_to "https://www.yahoo.co.jp",class: "root-menu__box__lower__left--category" do
            = fa_icon "list-ul", class: "root-menu__box__lower__left--categoly__icon"
            カテゴリーから探す
        .root-menu__box__lower__left--brand
          =link_to "https://www.yahoo.co.jp",class: "root-menu__box__lower__left--brand" do
            = fa_icon "tag", class: "root-menu__box__lower__left--categoly__icon"
            ブランドから探す
      .root-menu__box__lower__right
        =link_to "https://www.yahoo.co.jp",class: "root-menu__box__lower__right--sign-in" do
          新規会員登録
        =link_to "https://www.yahoo.co.jp",class: "root-menu__box__lower__right--log-in" do
          ログイン

  .root-short-menu
    .root-short-menu__box
      .root-short-menu__box__upper
        .root-short-menu__box__upper--left
          = image_tag "logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", size: "134x36"
        .root-short-menu__box__upper__right
          =link_to "新規会員登録","https://www.yahoo.co.jp",class: "root-short-menu__box__upper__right--sign-in"
          =link_to "ログイン","https://www.yahoo.co.jp",class: "root-short-menu__box__upper__right--log-in"
      .root-short-menu__box__center
        %input.root-short-menu__box__center--text
        .root-short-menu__box__upper--button
          = fa_icon "search", class: "root-short-menu__box__upper__button__icon"
      .root-short-menu__box__lower
        =link_to "https://www.yahoo.co.jp",class: "root-short-menu__box__lower--category" do
          = fa_icon "list-ul", class: "root-menu__box__lower__left--categoly__icon"
          カテゴリーから探す
        =link_to "https://news.yahoo.co.jp/",class: "root-short-menu__box__lower--brand" do
          = fa_icon "tag", class: "root-menu__box__lower__left--categoly__icon"
          ブランドから探す