.root-new__production
  .root-new__production__box{data: {category_id: category.id }}
    .root-new__production__box__upper
      .root-new__production__box__upper--name
        #{category.name}新着アイテム
      .root-new__production__box__upper--detail-path
        =link_to "もっと見る","",class:"root-new__production__box__upper--detail-path"
    .root-new__production__box__group
      .root-new__production__box__group__list
        - items.each do |item|
          =link_to item_path(item), class:"root-new__production__box__group__list__box" do
            .root-new__production__box__group__list__imagebox
              - unless item.item_images.empty?
                = image_tag item.item_images.first.image.url, class: "root-new__production__box__group__list__imagebox--image"
              - else
                = image_tag "no_image.png", class: "root-new__production__box__group__list__imagebox--image"
              .root-new__production__box__group__list--price
                %span.root-new__production__box__group__list--price--span
                  = item.decorate.amount_text
            .root-new__production__box__group__list--text
              %span.root-new__production__box__group__list--text--span
                = item.name