.root-wrapper
  = render partial: 'header'
  .root-contents
    .root-campaign
      .root-campaign__arrow__left
      .root-campaign__arrow__right
      .root-campaign__slider
        %span.root-campaign__slider1
        %span.root-campaign__slider2
    .root-categoly__box
      .root-categoly__box--popular
        人気のカテゴリー
      %ul.root-categoly__box__list
        - @categolies.each do |categoly|
          %li.root-categoly__box__list--label
            = categoly
    .root-new__production
      .root-new__production__box
        .root-new__production__box__upper
          .root-new__production__box__upper--name
            #{@categoly}新着アイテム
          .root-new__production__box__upper--detail-path
            =link_to "もっと見る","https://reissuerecords.net/",class:"root-new__production__box__upper--detail-path" 
            .root-new__production__box__upper--detail-path--text
        .root-new__production__box__group
          .root-new__prodcution__box__group__list
            .root-new__production__box__group__list--image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new__production__box__group__list--text
                #{@item[:name]}
              %span.root-new__production__box__group__list--price
                #{@item[:price]}
            .root-new__production__box__group__list--image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new__production__box__group__list--text
                #{@item[:name]}
              %span.root-new__production__box__group__list--price
                #{@item[:price]}
            .root-new__production__box__group__list--image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new__production__box__group__list--text
                #{@item[:name]}
              %span.root-new__production__box__group__list--price
                #{@item[:price]}
            .root-new__production__box__group__list--image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new__production__box__group__list--text
                #{@item[:name]}
              %span.root-new__production__box__group__list--price
                #{@item[:price]}
            .root-new__production__box__group__list--image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new__production__box__group__list--text
                #{@item[:name]}
              %span.root-new__production__box__group__list--price
                #{@item[:price]}
            .root-new__production__box__group__list--image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new__production__box__group__list--text
                #{@item[:name]}
              %span.root-new__production__box__group__list--price
                #{@item[:price]}
            .root-new__production__box__group__list--image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new__production__box__group__list--text
                #{@item[:name]}
              %span.root-new__production__box__group__list--price
                #{@item[:price]}
            .root-new__production__box__group__list--image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new__production__box__group__list--text
                #{@item[:name]}
              %span.root-new__production__box__group__list--price
                #{@item[:price]}
            .root-new__production__box__group__list--image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new__production__box__group__list--text
                #{@item[:name]}
              %span.root-new__production__box__group__list--price
                #{@item[:price]}
            .root-new__production__box__group__list--image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new__production__box__group__list--text
                #{@item[:name]}
              %span.root-new__production__box__group__list--price
                #{@item[:price]}

  .root-app__dl
    .root-app__dl__box
      .root-app__dl__box__left
        .root-app__dl__box__left--title
          スマホでかんたんアプリ
        .root-app__dl__box__left--text
          今すぐ無料ダウンロード
        .root-app__dl__box__left--image
          .root-app__dl__box__left--image--icon
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png",size: "68x68"
          .root-app__dl__box__left--image--appstore
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg",size:"144x40"
          .root-app__dl__box__left--image--googleplay
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg",size:"144x40"
      .root-app__dl__box__right
        =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png",size:"300x260"
  = render partial: 'footer'
  .root-exhibit__button
    .root-exhibit__button--text
      出品
    =link_to "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",class: "exhibit__button__icon" do
      = fa_icon "camera 3x", class: "root-exhibit__button__icon"