.root-wrapper
  = render partial: 'header'
  .root-contents
    .root-campaign
      .root-campaign__arrow__left
      .root-campaign__arrow__right
      .root-campaign__slider
        %span.root-campaign__slider1
        %span.root-campaign__slider2
    .root-categoly__box
      .root-categoly__box--popular
        人気のカテゴリー
      %ul.root-categoly__box__list
        - @categolies.each do |categoly|
          %li.root-categoly__box__list--label
            = categoly
    = render partial: 'itembox'
  = render partial: 'app__dl'
  = render partial: 'footer'
  = render partial: 'exhibit__button'
  