.user-navigation
  %ul
    = render 'users/nav-item', { path: mypage_path, text: 'マイページ', active: current_page?(mypage_path)  }
    = render 'users/nav-item', { path: '#', text: 'お知らせ', active: false }
    = render 'users/nav-item', { path: '#', text: 'やることリスト', active: false }
    = render 'users/nav-item', { path: '#', text: 'いいね！一覧', active: false }
    = render 'users/nav-item', { path: new_item_path, text: '出品する', active: false }
    = render 'users/nav-item', { path: '#', text: '出品した商品 - 出品中', active: false }
    = render 'users/nav-item', { path: '#', text: '出品した商品 - 取引中', active: false }
    = render 'users/nav-item', { path: '#', text: '出品した商品 - 売却済み', active: false }
    = render 'users/nav-item', { path: '#', text: '購入した商品 - 取引中', active: false }
    = render 'users/nav-item', { path: '#', text: '購入した商品 - 過去の取引', active: false }
    = render 'users/nav-item', { path: '#', text: 'ニュース一覧', active: false }
    = render 'users/nav-item', { path: '#', text: '評価一覧', active: false }
    = render 'users/nav-item', { path: '#', text: 'ガイド', active: false }
    = render 'users/nav-item', { path: '#', text: 'お問い合わせ', active: false }
  %h2.user-navheadline
    メルペイ
  %ul
    = render 'users/nav-item', { path: '#', text: '売上・振込申請', active: false }
    = render 'users/nav-item', { path: '#', text: 'ポイント', active: false }
  %h2.user-navheadline
    設定
  %ul
    = render 'users/nav-item', { path: current_user.profile ? edit_mypage_profiles_path : new_mypage_profiles_path, text: 'プロフィール', active: current_page?(new_mypage_profiles_path) || current_page?(edit_mypage_profiles_path) }
    = render 'users/nav-item', { path: '#', text: '発送元・お届け先住所変更', active: false }
    = render 'users/nav-item', { path: mypage_cards_path, text: '支払い方法', active: current_page?(mypage_cards_path) || current_page?(new_mypage_card_path) }
    = render 'users/nav-item', { path: '#', text: 'メール/パスワード', active: false }
    = render 'users/nav-item', { path: current_user.personal ? edit_mypage_personals_path : new_mypage_personals_path, text: '本人情報', active: current_page?(new_mypage_personals_path) || current_page?(edit_mypage_personals_path) }
    = render 'users/nav-item', { path: '#', text: '電話番号の変更', active: false }
    = render 'users/nav-item', { path: logout_mypage_path, text: 'ログアウト', active: current_page?(logout_mypage_path) }
