.user-tabcontent
  .h2.user-tab-headline
    購入した商品
  .user-tabcontent__tabbar
    #user-in-transaction-tab.user-tabcontent__tabbar__tab.user-tabcontent__tabbar__tab--active
      取引中
    #user-past-transaction-tab.user-tabcontent__tabbar__tab
      過去の取引
  #user-in-transaction-page.user-tabcontent__page.user-tabcontent__page
    %ul.user-notification
    = render "users/nolist-item", { text: '取引中の商品がありません' }
  #user-past-transaction-page.user-tabcontent__page--none
    %ul.user-notification
      = link_to "#" do
        %li.user-notification__item
          = image_tag "mercari/mercari_profile.png", class: "user-notification__item__image"
          .user-notification__item__headline
            %p.user-notification__item__headline--title
              「XXXXXX」を購入しました。取引が完了しました
            %span.user-notification__item__headline--time
              取引完了
          = fa_icon 'angle-right 2x', class: "user-notification__item__icon"
      = link_to "#" do
        %li.user-notification__item
          = image_tag "mercari/mercari_profile.png", class: "user-notification__item__image"
          .user-notification__item__headline
            %p.user-notification__item__headline--title
              「YYYYYY」を購入しました。取引が完了しました
            %span.user-notification__item__headline--time
              取引完了
          = fa_icon 'angle-right 2x', class: "user-notification__item__icon"
    .user-notification__footer
      = link_to "#", class: "user-notification__footer__button" do
        一覧を見る