%main#user-main

  .user-container
    .user-f
      = link_to "#" do
        = image_tag ''
        %h2
          ユーザー名
        %div
          評価 XX 出品数 XX
    
    .container
      .tab-container
        .tab-item#tab__notices
          お知らせ
        .tab-item#tab__todos
          やることリスト
        .tab-content
          %ul
            = link_to "#" do
              %li
                %p
                  事務局から個別メッセージ
                %p
                  １時間前
    .container
      .h2
        購入した商品
      .tab-container
        .tab-item#tab__nego
          取引中
        .tab-item#tab__past
          過去の取引
        .tab-content
          %ul
            = link_to "#" do
              %li
                %p
                  「XXXXXX」を購入しました。取引が完了しました
                %p
                  取引完了
  = render 'user-navigation'