.root-wrapper
  %header.root-menu
    .root-menu--box
      .root-menu--box--upper
        .root-menu--box--upper--icon 
          = image_tag "logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", size: "134x36"
           
        .root-menu--box--upper--form
          %input.root-menu--box--upper__text
          .root-menu--box--upper__button
            = fa_icon "search", class: "root-menu--box--upper--button--icon"
      .root-menu--box--lower
        .root-menu--box--lower--left
          .root-menu--box--lower--left__categoly
            =link_to "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",class: "root-menu--box--lower--left__categoly" do
              = fa_icon "list-ul", class: "root-menu--box--lower--left__categoly--icon"
              カテゴリーから探す
          .root-menu--box--lower--left__brand
            =link_to "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",class: "root-menu--box--lower--left__categoly" do
              = fa_icon "tag", class: "root-menu--box--lower--left__categoly--icon"
              ブランドから探す
        .root-menu--box--lower--right
          .root-menu--box--lower--right__sign-in
            新規会員登録
          .root-menu--box--lower--right__log-in
            ログイン
  .root-contents
    .root-campaign
      .root-campaign--arrow--left
      .root-campaign--arrow--right
      .root-campaign--slider
        %span.root-campaign--slider1
        %span.root-campaign--slider2
    .root-categoly--box
      .root-categoly--box__popular
        人気のカテゴリー
      %ul.root-categoly--box--list
        %li.root-categoly--box--list__label
          レディース
        %li.root-categoly--box--list__label
          メンズ
        %li.root-categoly--box--list__label
          家電・スマホ・カメラ
        %li.root-categoly--box--list__label
          おもちゃ・ホビー・グッズ
    .root-new--production
      .root-new--production--box
        .root-new--production--box--upper
          .root-new--production--box--upper__name
            レディース新着アイテム
          .root-new--production--box--upper__detail-path
            =link_to "もっと見る","https://reissuerecords.net/",class:"root-new--production--box--upper__detail-path" 
            .root-new--production--box--upper__detail-path__text
        .root-new--production--box--group
          .root-new--prodcution--box--group--list
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600

  .root-app--dl
    .root-app--dl--box
      .root-app--dl--box--left
        .root-app--dl--box--left__title
          スマホでかんたんアプリ
        .root-app--dl--box--left__text
          今すぐ無料ダウンロード
        .root-app--dl--box--left__image
          .root-app--dl--box--left__image__icon
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png",size: "68x68"
          .root-app--dl--box--left__image__appstore
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg",size:"144x40"
          .root-app--dl--box--left__image__googleplay
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg",size:"144x40"
      .root-app--dl--box--right
        =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png",size:"300x260"

  %footer.root-footer--menu
    .root-footer--menu--nav
      .root-footer--menu--nav--list
        %h2.root-footer--menu--nav--list__icon
          メルカリについて
        %ul.root-footer--menu--nav--list__company-outline
          %li.root-footer--menu--nav--list__company-outline__entity
            会社概要（運営会社）
          %li.root-footer--menu--nav--list__company-outline__entity
            採用情報
          %li.root-footer--menu--nav--list__company-outline__entity
            プレスリリース
          %li.root-footer--menu--nav--list__company-outline__entity
            公式ブログ
          %li.root-footer--menu--nav--list__company-outline__entity
            メルカリロゴ利用ガイドライン
          .root-footer--menu__icon
            = fa_icon "twitter 3x", class: "footer--menu--box--lower__search__categoly__icon"
            = fa_icon "facebook-square 3x", class: "footer--menu--box--lower__search__categoly__icon"
      .root-footer--menu--nav--list
        %h2.root-footer--menu--nav--list__icon
          ヘルプ&ガイド
        %ul.root-footer--menu--nav--list__help
          %li.root-footer--menu--nav--list__help__entity
            メルカリガイド
          %li.root-footer--menu--nav--list__help__entity
            らくらくメルカリ便
          %li.root-footer--menu--nav--list__help__entity
            ゆうゆうメルカリ便
          %li.root-footer--menu--nav--list__help__entity
            大型メルカリ便
          %li.root-footer--menu--nav--list__help__entity
            車体取引ガイド
          %li.root-footer--menu--nav--list__help__entity
            メルカリあんしん・安全宣言
          %li.root-footer--menu--nav--list__help__entity
            偽ブランド品撲滅への取り組み
          %li.root-footer--menu--nav--list__help__entity
            メルカリボックス
      .root-footer--menu--nav__base
        %h2.root-footer--menu--nav__base__icon
          プライバシーと利用規約
        .root-footer--menu--nav__base__rule
          %ul.root-footer--menu--nav__base__rule--list
            %li.root-footer--menu--nav__base__rule--list__entity
              プライバシーポリシー
            %li.root-footer--menu--nav__base__rule--list__entity
              メルカリ利用規約  
            %li.root-footer--menu--nav__base__rule--list__entity
              あんしんスマホサポート制度
            %li.root-footer--menu--nav__base__rule--list__entity
              コンプライアンスポリシー
        .root-footer--menu--nav__base__rule
          %ul.root-footer--menu--nav__base__rule--list
            %li.root-footer--menu--nav__base__rule--list__entity
              個人データの安全管理に係る基本方針
            %li.root-footer--menu--nav__base__rule--list__entity
              特定商取引に関する表記
            %li.root-footer--menu--nav__base__rule--list__entity
              資金決済法に基づく表示
            %li.root-footer--menu--nav__base__rule--list__entity
              法令順守と犯罪抑止のために
      .root-footer--menu--nav--list
        %h2.root-footer--menu--nav--list__icon
          国
        %ul.root-footer--menu--nav--list__country
          %li.root-footer--menu--nav--list__country__entity
            日本
          %li.root-footer--menu--nav--list__country__entity
            united states
    .root-footer--menu--copyright
      .root-footer--menu--copyright--box
        =image_tag  "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg"
        %span.root-footer--menu--copyright--box__logo
          © 2019 Mercari
  .root-exhibit--button
    .root-exhibit--button__text
      出品
    =link_to "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",class: "exhibit--button--icon" do
      = fa_icon "camera 3x", class: "root-exhibit--button--icon"