.root-wrapper
  = render partial: 'header'
  .root-contents
    .root-campaign
      .root-campaign--arrow--left
      .root-campaign--arrow--right
      .root-campaign--slider
        %span.root-campaign--slider1
        %span.root-campaign--slider2
    .root-categoly--box
      .root-categoly--box__popular
        人気のカテゴリー
      %ul.root-categoly--box--list
        %li.root-categoly--box--list__label
          レディース
        %li.root-categoly--box--list__label
          メンズ
        %li.root-categoly--box--list__label
          家電・スマホ・カメラ
        %li.root-categoly--box--list__label
          おもちゃ・ホビー・グッズ
    .root-new--production
      .root-new--production--box
        .root-new--production--box--upper
          .root-new--production--box--upper__name
            レディース新着アイテム
          .root-new--production--box--upper__detail-path
            =link_to "もっと見る","https://reissuerecords.net/",class:"root-new--production--box--upper__detail-path" 
            .root-new--production--box--upper__detail-path__text
        .root-new--production--box--group
          .root-new--prodcution--box--group--list
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600
            .root-new--production--box--group--list__image
              = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
              %span.root-new--production--box--group--list__text
                メルカリaaaaaaaaaaaaaaaaa
              %span.root-new--production--box--group--list__price
                1,600

  .root-app--dl
    .root-app--dl--box
      .root-app--dl--box--left
        .root-app--dl--box--left__title
          スマホでかんたんアプリ
        .root-app--dl--box--left__text
          今すぐ無料ダウンロード
        .root-app--dl--box--left__image
          .root-app--dl--box--left__image__icon
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png",size: "68x68"
          .root-app--dl--box--left__image__appstore
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg",size:"144x40"
          .root-app--dl--box--left__image__googleplay
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg",size:"144x40"
      .root-app--dl--box--right
        =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png",size:"300x260"
  = render partial: 'footer'
  .root-exhibit--button
    .root-exhibit--button__text
      出品
    =link_to "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",class: "exhibit--button--icon" do
      = fa_icon "camera 3x", class: "root-exhibit--button--icon"