= render 'joint/header'
= render 'users/user-breadcrumb', {symbol: :mypage}
.user-wrapper
  %main.user-main
    .user-container
      .user-intro
        = link_to user_path(current_user), class: "user-intro__link" do
          = image_tag "user/user_photo_noimage.png", class: "user-intro__link__avator"
          %h2.user-intro__link__username
            = current_user.profile&.nickname
          %div.user-intro__link__user-status
            評価
            %span.user-intro__link__user-status--count
              XX
            出品数
            %span.user-intro__link__user-status--count
              = current_user.items.showable.count
      -# お知らせ・やることリスト
      = render 'users/user-notice'
      -# 購入した商品
      = render 'users/user-purchase-top'
    -# ナビゲーションバー
    = render 'users/user-navigation'
= render 'joint/app__dl'
= render 'joint/footer'
= render 'joint/exhibit__button'