= render 'joint/header'
-# 出品者の場合パンくずリストを表示
- if @item.seller == current_user
  = render 'users/user-breadcrumb'
.item-wrapper
  %main.item-main
    .item-detail
      %h2.item-detail__headline
        = @item.name
      .item-detail__infomation
        -# 商品画像
        .item-detail__infomation__images
          - if @item.sales_state_id == 2
            .item-detail__infomation__images__top.item-detail__infomation__images__top--suspension
              = image_tag @item.item_images.first.image.url, class: "item-detail__infomation__images__top__image"
          - elsif @item.sales_state_id == 3
            .item-detail__infomation__images__top.item-detail__infomation__images__top--soldout
              = image_tag @item.item_images.first.image.url, class: "item-detail__infomation__images__top__image"
          - else
            .item-detail__infomation__images__top
              = image_tag @item.item_images.first.image.url, class: "item-detail__infomation__images__top__image"
          .item-detail__infomation__images__flex
            - @item.item_images.each_with_index do |image, index|
              %div{class: "item-detail__infomation__images__flex__box box-image-#{index}" }
                - if index == 0
                  = image_tag image.image.url,
                  class: "item-detail__infomation__images__flex__box__image item-detail__infomation__images__flex__box__image--selected"
                - else
                  = image_tag image.image.url, class: "item-detail__infomation__images__flex__box__image"
        -# 商品詳細テーブル
        %table.item-detail__infomation__table
          %tbody
            %tr
              %th.item-detail__infomation__table__th
                出品者
              %td.item-detail__infomation__table__td
                = link_to user_path(@item.seller), class: "item-detail__infomation__table__td__link" do
                  = @item.seller.profile&.nickname
            %tr
              %th.item-detail__infomation__table__th
                カテゴリー
              %td.item-detail__infomation__table__td
                %p
                  = link_to "#", class: "item-detail__infomation__table__td__link" do
                    = @item.category&.parent&.parent&.name
                %p
                  = link_to "#", class: "item-detail__infomation__table__td__caterogy" do
                    = fa_icon 'angle-right', class: "item-detail__infomation__table__td__caterogy__icon"
                    = @item.category.parent&.name
                %p
                  = link_to "#", class: "item-detail__infomation__table__td__caterogy" do
                    = fa_icon 'angle-right', class: "item-detail__infomation__table__td__caterogy__icon"
                    = @item.category.name
            %tr
              %th.item-detail__infomation__table__th
                ブランド
              %td.item-detail__infomation__table__td
                = link_to "#", class: "item-detail__infomation__table__td__link" do
                  = @item.brand&.name
            %tr
              %th.item-detail__infomation__table__th
                商品の状態
              %td.item-detail__infomation__table__td
                = @item.item_state.state
            %tr
              %th.item-detail__infomation__table__th
                配送料の負担
              %td.item-detail__infomation__table__td
                = @item.deliver_expend.expend
            %tr
              %th.item-detail__infomation__table__th
                配送の方法
              %td.item-detail__infomation__table__td
                = @item.deliver_method.method
            %tr
              %th.item-detail__infomation__table__th
                配送元地域
              %td.item-detail__infomation__table__td
                %p
                  = link_to "#", class: "item-detail__infomation__table__td__link" do
                    = @item.prefecture.name
            %tr
              %th.item-detail__infomation__table__th
                配送日の目安
              %td.item-detail__infomation__table__td
                %p
                  = link_to "#", class: "item-detail__infomation__table__td__link" do
                    = @item.deliver_day.day
      -# 商品金額
      .item-detail__amount
        %span.item-detail__amount--amount
          = @item.amount_text
        %span.item-detail__amount--tax
          (税込)
        %span.item-detail__amount--tax
        = @item.cash_on_delevery_text
      -# 出品者以外のユーザーは購入ボタンを表示
      - if @item.seller != current_user
        .item-detail__purchace
          - if @item.sales_state_id == 1
            = link_to new_item_purchase_path(@item), class: "item-detail__purchace__button" do
              .item-detail__purchace__button--enable
                購入画面に進む
          - else
            .item-detail__purchace__button--disenable
              売り切れです
      -# 説明文
      .item-detail__description
        = simple_format(@item.description, class:"item-detail__description__text")
      .item-detail__footer
        %ul.item-detail__footer__button-list
          %li.item-detail__footer__button-list__button
            = fa_icon 'heart-o', class: "item-detail__footer__button-list__button__icon"
            いいね！ 0
          %li.item-detail__footer__button-list__button
            = fa_icon 'flag-o', class: "item-detail__footer__button-list__button__icon"
            不適切な商品の報告
        = link_to "#", class:"item-detail__footer__link" do
          = fa_icon 'lock', class: "item-detail__footer__link__icon"
          あんしん・あんぜんへの取り組み
    -# 出品者のみ商品状態変更ボタンを表示
    - if @item.seller == current_user && @item.sales_state_id != 3
      .item-seller-edit
        = link_to edit_item_path(@item) do
          .item-seller-edit__button--enable
            商品の編集
        .item-seller-edit__or
          or
        - if @item.sales_state_id == 1
          = link_to deactivate_item_path(@item), method: :patch do
            .item-seller-edit__button--disenable
              出品を一旦停止する
        - elsif @item.sales_state_id == 2
          = link_to activate_item_path(@item), method: :patch do
            .item-seller-edit__button--enable
              出品を再開する
        = link_to item_path(@item), method: :delete, data: {confirm: "削除すると二度と復活できません。\n削除する代わりに停止することもできます。\n\n本当に削除しますか？ "} do
          .item-seller-edit__button--disenable
            この商品を削除する
    -# コメント機能は必須でないため暫定的に見た目だけ用意
    .item-chat
      .item-chat__notice
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = form_with url: "" do |f|
        = f.text_area :message, class: "item-chat__textarea"
      .item-chat__button--disenable
        - if @item.sales_state_id == 1
          コメントする
        - else
          売り切れのためコメントできません
    -# SNSシェアボタン
    .item-share
      %ul.item-share__icon-list
        = link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.url}", class: "item-share__icon-list__icon", target: :_blank do
          %li.item-share__icon-list__icon--facebook
            = fa_icon 'facebook-square 3x'
        = link_to "https://twitter.com/intent/tweet?url=#{request.url}", class: "item-share__icon-list__icon", target: :_blank do
          %li.item-share__icon-list__icon--twitter
            = fa_icon 'twitter-square 3x'
        = link_to "http://www.pinterest.com/pin/create/button/?url=#{request.url}", class: "item-share__icon-list__icon", target: :_blank do
          %li.item-share__icon-list__icon--pinterest
            = fa_icon 'pinterest-square -square 3x'
    -# 出品者が販売中の商品
    .item-others
      %h2.item-others__headline
        = link_to user_path(@item.seller), class: "item-others__headline--link" do
          = "#{@item.seller.profile&.nickname}さんのその他の商品"
      .item-others__display
        -# 同じユーザーの直近出品商品を最大６つ取得
        = render partial: "items/item-display-box", collection: @item.seller.items.where.not(id: @item.id).recent(6), as: "item"
    -# 同じカテゴリーの商品
    .item-others
      %h2.item-others__headline
        = link_to "#", class: "item-others__headline--link" do
          - if @item.category.name == "その他"
            = "#{@item.category.parent.name}その他の商品"
          - else
            = "#{@item.category.name}その他の商品"
      .item-others__display
        = render partial: "items/item-display-box", collection: @item.category.items.where.not(id: @item.id).recent(6), as: "item"
= render 'joint/app__dl'
= render 'joint/footer'


