.item-wrapper
  .item-detail
    %h2
      = @item.name
    = image_tag @item.item_images.first.image.url, width: "100"
    %table
      %tbody
        %tr
          %th
            出品者
          %td
            %p
              = @item.seller.profile&.nickname
        %tr
          %th
            カテゴリー
          %td
            = link_to "#" do
              %p
                = @item.category&.parent&.parent&.name
            = link_to "#" do
              %p
                = @item.category.parent&.name
            = link_to "#" do
              %p
                = @item.category.name
        %tr
          %th
            ブランド
          %td
            = link_to "#" do
              %p
                = @item.brand&.name
        %tr
          %th
            商品の状態
          %td
            = @item.item_state.state
        %tr
          %th
            配送料の負担
          %td
            = @item.deliver_expend.expend
        %tr
          %th
            配送の方法
          %td
            = @item.deliver_method.method
        %tr
          %th
            配送元地域
          %td
            = link_to "#" do
              %p
                = @item.prefecture.name
        %tr
          %th
            配送日の目安
          %td
            = link_to "#" do
              %p
                = @item.deliver_day.day
    .item-amount
      = @item.amount_text
      (税込)
      = @item.cash_on_delevery_text
    = link_to "#", class: "item-purchace" do
      .item-purchace__button
        購入画面に進む
    .item-description
      = @item.description
    .item-like
      いいね！
    .item-report
      不適切な商品の報告
    = link_to "#" do
      あんしん・あんぜんへの取り組み
  -# コメント機能は必須でないため暫定的に見た目だけ用意
  .item-comment
    .item-comment__notice
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .item-comment__notice
    .item-comment__button
      コメントする
  -# SNSシェアボタン
  .item-sns_share
    = link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.url}", target: :_blank do
      F
    = link_to "https://twitter.com/intent/tweet?url=#{request.url}", target: :_blank do
      T
    = link_to "http://www.pinterest.com/pin/create/button/?url=#{request.url}", target: :_blank do
      P
  .item-user
    %h2
      = link_to "#" do
        = "#{@item.seller.profile&.nickname}さんのその他の商品"
        - @item.seller.items.where.not(id: @item.id).recent(6).each do |other_item|
          = link_to item_path(other_item) do
            .item_list
              = image_tag(other_item.item_images.first.image.url, width: "200")
              .item_text
                = other_item.name
              .item_amount
                = other_item.decorate.amount_text
  .item-category
    %h2
      = link_to "#" do
        = "#{@item.category.name}その他の商品"
        - @item.category.items.where.not(id: @item.id).recent(6).each do |other_item|
          - if @item.id != other_item.id
            = link_to item_path(other_item) do
              .item_list
                = image_tag(other_item.item_images.first.image.url, width: "200")
                .item_text
                  = other_item.name
                .item_amount
                  = other_item.decorate.amount_text


