.card-container
  .card-container__header
    %h2.card-container__header__headline
      クレジットカード情報入力
    = form_with model: @card, url: mypage_cards_create_path, method: :post, local: true, id: "card_form", class: "card-container__form" do |f|
      .card-container__form__field
        .card-container__form__field__label
          = f.label :number
          %span.common--required
            必須
        = f.text_field :number, placeholder: "グループ名を入力してください"
        %ul.card-container__form__field__cardlist
          %li.card-container__form__field__cardlist_cardimg
            VISA
          %li.card-container__form__field__cardlist_cardimg
            マスターカード
          %li.card-container__form__field__cardlist_cardimg
            セゾンカード
          %li.card-container__form__field__cardlist_cardimg
            JCB
          %li.card-container__form__field__cardlist_cardimg
            Diners Club
          %li.card-container__form__field__cardlist_cardimg
            Discover
      .card-container__form__field
        .card-container__form__field_label
          = f.label  "有効期限"
          %span.common--required
            必須
        = f.select :month, @card.month_select
        = f.label :month
        = f.select :year, @card.year_select
        = f.label :year
      .card-container__form__field
        .card-container__form__field_label
          = f.label :cvc
          %span.common--required
            必須
        = f.text_field :cvc, placeholder: "カード背面4桁もしくは3桁の番号", maxlength:4
      .card-container__form__field__help
        カード裏面の番号とは？
      .card-container__form__field
        = f.submit "追加する", class: "card-container__form__field--btn"