!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample54b
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .wrapper
      %header.menu
        .menu--box
          .menu--box--upper
            .menu--box--upper--icon 
              = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", size: "134x36"
              
            .menu--box--upper--form
              %input.menu--box--upper__text
              .menu--box--upper__button
                = fa_icon "search", class: "menu--box--upper--button--icon"
          .menu--box--lower
            .menu--box--lower__search
              .menu--box--lower__search__categoly
                =link_to "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",class: "menu--box--lower__search__categoly" do
                  = fa_icon "list-ul", class: "menu--box--lower__search__categoly--icon"
                  カテゴリーから探す
              .menu--box--lower__search__brand
                =link_to "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",class: "menu--box--lower__search__categoly" do
                  = fa_icon "tag", class: "menu--box--lower__search__categoly--icon"
                  ブランドから探す
            .menu--box--lower__user
              .menu--box--lower__user__sign-in
                新規会員登録
              .menu--box--lower__user__log-in
                ログイン
      .contents
        .campaign
          .campaign--arrow__left
          .campaign--arrow__right

        .categoly--box
          .categoly--box__popular
            人気のカテゴリー
          %ul.categoly--box--list
            %li.categoly--box--list--label
              レディース
            %li.categoly--box--list--label
              メンズ
            %li.categoly--box--list--label
              家電・スマホ・カメラ
            %li.categoly--box--list--label
              おもちゃ・ホビー・グッズ
        .new--production
          .new--production--box
            .new--production--box__upper
              .new--production--box__upper__name
                レディース新着アイテム
              .new--production--box__upper__detail-path
                =link_to "もっと見る","https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg" 
            .new--production--box--group
              .new--prodcution--box--group__list
                .new--production--box--group__list--image
                  = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
                  メルカリ
                .new--production--box--group__list--image
                  = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
                  メルカリ
                .new--production--box--group__list--image
                  = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
                  メルカリ
                .new--production--box--group__list--image
                  = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
                  メルカリ
                .new--production--box--group__list--image
                  = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
                  メルカリ
                .new--production--box--group__list--image
                  = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
                  メルカリ
                .new--production--box--group__list--image
                  = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
                  メルカリ
                .new--production--box--group__list--image
                  = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
                  メルカリ
                .new--production--box--group__list--image
                  = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
                  メルカリ
                .new--production--box--group__list--image
                  = image_tag "https://static.mercdn.net/thumb/photos/m71368804446_1.jpg?1565186711",size:"188x188"
                  メルカリ

      .app--dl
        .app--dl--box
          .app--dl--box__left
            .app--dl--box__left--title
              スマホでかんたんアプリ
            .app--dl--box__left--text
              今すぐ無料ダウンロード
            .app--dl--box__left--image
              .app--dl--box__left--image__left
                =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png",size: "68x68"
              .app--dl--box__left--image__center
                =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg",size:"144x40"
              .app--dl--box__left--image__right
                =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg",size:"144x40"
          .app--dl--box__right
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png",size:"300x260"

      %footer.footer--menu
        .footer--menu--nav
          .footer--menu--nav--list
            %h2.footer--menu--nav--list--icon
              メルカリについて
            %ul.footer--menu--nav--list--company-outline
              %li.footer--menu--nav--list--company-outline__entity
                会社概要（運営会社）
              %li.footer--menu--nav--list--company-outline__entity
                採用情報
              %li.footer--menu--nav--list--company-outline__entity
                プレスリリース
              %li.footer--menu--nav_--ist--company-outline__entity
                公式ブログ
              %li.footer--menu--nav--list--company-outline__entity
                メルカリロゴ利用ガイドライン
              .footer--menu--icon--twitter
                = fa_icon "twitter 3x", class: "footer--menu--box--lower__search__categoly--icon"
                = fa_icon "facebook-square 3x", class: "footer--menu--box--lower__search__categoly--icon"
          .footer--menu--nav--list
            %h2.footer--menu--nav--list--icon
              ヘルプ&ガイド
            %ul.footer--menu--nav--list__help
              %li.footer--menu--nav--list__help__entity
                メルカリガイド
              %li.footer--menu--nav--list__help__entity
                らくらくメルカリ便
              %li.footer--menu--nav--list__help__entity
                ゆうゆうメルカリ便
              %li.footer--menu--nav--list__help__entity
                大型メルカリ便
              %li.footer--menu--nav--list__help__entity
                車体取引ガイド
              %li.footer--menu--nav--list__help__entity
                メルカリあんしん・安全宣言
              %li.footer--menu--nav--list__help__entity
                偽ブランド品撲滅への取り組み
              %li.footer--menu--nav--list__help__entity
                メルカリボックス
          .footer--menu--nav__base
            %h2.footer--menu--nav__base__icon
              プライバシーと利用規約
            .footer--menu--nav__base__rule
              %ul.footer--menu--nav__base__rule--list
                %li.footer--menu--nav__base__rule--list__entity
                  プライバシーポリシー
                %li.footer--menu--nav__base__rule--list__entity
                  メルカリ利用規約  
                %li.footer--menu--nav__base__rule--list__entity
                  あんしんスマホサポート制度
                %li.footer--menu--nav__base__rule--list__entity
                  コンプライアンスポリシー
            .footer--menu--nav__base__rule
              %ul.footer--menu--nav__base__rule--list
                %li.footer--menu--nav__base__rule--list__entity
                  個人データの安全管理に係る基本方針
                %li.footer--menu--nav__base__rule--list__entity
                  特定商取引に関する表記
                %li.footer--menu--nav__base__rule--list__entity
                  資金決済法に基づく表示
                %li.footer--menu--nav__base__rule--list__entity
                  法令順守と犯罪抑止のために
          .footer--menu--nav--list
            %h2.footer--menu--nav--list--icon
              国
            %ul.footer--menu--nav--list__country
              %li.footer--menu--nav--list__country__entity
                日本
              %li.footer--menu--nav--list__country__entity
                united states
        .footer--menu--copyright
          .footer--menu--copyright--box
            =image_tag  "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg"
            %span.footer--menu--copyright--box--logo
              © 2019 Mercari
      .exhibit--button
        .exhibit--button__text
          出品
        =link_to "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",class: "exhibit--button--icon" do
          = fa_icon "camera 3x", class: "exhibit--button--icon"